.container_contact{
    width: 1200px; 
    margin: auto;
}

.container_contact > h2{
    color: #ed1c24; 
    font-size: 24px;
}

.btn_submit{
    padding: 10px 20px; 
    background-color: #bd163d; 
    display: inline-block; 
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.btn_submit:hover{
    background-color: #971231;
    cursor: pointer;
}

.textarea_contact{
    width: 100%; 
    min-height: 120px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(204, 204, 204, 0.7);
}