:root{
    --main-color: #bd163d;
}

h2{
    color: var(--main-color);
    font-size: 28px;
}

h3{
    color: var(--main-color);
    font-size: 20px;
}

.container_show_news > p{
    margin: 18px 0px;
}

.container_show_news{
    padding: 20px 20px 10px 20px;
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.line{
    width: 50px;
    border-bottom: 2px solid #ccc;
}

.line_bottom{
    width: 50px;
    border-bottom: 2px solid #ccc;
    display: flex;
    margin: auto;
}

.fb, .email{
    width: 34px; 
    height: 34px; 
    border-radius: 50%; 
    border: 2px solid #c0c0c0; 
    display: flex; 
    margin-right: 3px;
    color: #c0c0c0;
}

.email{
    margin-left: 3px;
}

.fb:hover{
    background-color: #3a589d;
    color: white;
    border: 2px solid #3a589d;
    transition: 0.2s ease;
}

.email:hover{
    background-color: black;
    transition: 0.2s ease-in-out;
    border: 2px solid black;
    color: white;
}

a{
    color: var(--main-color);
    text-decoration: none;
}

.container_news_tabbar > a:hover{
    color: black;
}

.show_news{
    margin-bottom: 30px;
}

.container_news_tabbar{
    border-right: 1px solid #ececec;
    height: 100vh;
}